.logo {
  width: 130px;
  height: auto;
  position: absolute;
  top: 20px;
}
.custom-icon {
  position: relative;
  top: 80px;
  font-size: 35px;
  margin-left: -5px;
  color: #7A8C99;
  cursor: pointer;
}

.movie-information {
  width: 100%;
  height: 600px;
}
.runtime {
  position: relative;
  font-size: 20px;
  margin-top: 100px;
  color: #7A8C99;
  font-family: Roboto;
}
.first-dot {
  position: relative;
  top: -5px;
  padding-left: 4px;
  padding-right: 4px;
}
.second-dot {
  position: relative;
  top: -5px;
  padding-left: 4px;
  padding-right: 4px;
}
.register-text {
  padding: 7px;
  color: #0A1014;
  font-family: Roboto;
  font-size: 16px;
}
.register {
  height: 26px;
    width: 23px;
    background: #7A8C99;
    margin-left: 145px;
    margin-top: -36px;
    border-radius: 3px;
}
.movie-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 80px;
  color: white;
  margin-top: 4px;
  margin-left: -16px;
}
.align-image {
  margin-right: 40px;
    border-radius: 5px;
    width: 30em;
    height: 42em;
}

.plot-title {
  color: #7A8C99;
    font-family: Roboto;
    margin-left: -15px;
    position: relative;
    top: 40px;
}
.plot-description {
  margin-left: -15px;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  position: relative;
  top: 50px;
  margin-bottom: 70px;
}
.rated {
  background-color: #7A8C99;
  color: #0A1014;
  width: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
}
.apply-border {
  border: 1px solid green;
  word-break: break-word;
}
.footer-cast {
  color: #7A8C99;
  font-family: Roboto;
  margin-left: -15px;
}
.footer {
  margin-left: -20px;
}
.footer-content {
  margin-left: -15px;
  color: white;
  font-family: Roboto;
}
.imdb-border{
  width: 115px;
  border: 0.5px solid #2EC4B6;
  border-width: thin;
  height: 40px;
  border-radius: 5px;
  display: inline-block;
}
.imdb {
  width: 56px;
  height: 38px;
  background: yellow;
  border-radius: 3px;
  display: inline-block;
}
.imdb-logo {
  padding-left: 8px;
  position: relative;
  top: 6px;
}
.imdb-rating {
  color: white;
  position: relative;
  left: 65px;
  top: -11px;
  font-family: Roboto;
  font-weight: bold;
}
.button-section {
  height: 40px;
  width: 100%;
  margin-left: -15px;
}
.rotten-border {
  width: 80px;
  border: 0.5px solid #2EC4B6;
  border-width: thin;
  height: 40px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 30px;
}
.rotten {
  width: 35px;
  height: 38px;
  background: red;
  border-radius: 3px;
  display: inline-block;
}
.rotten-percentage {
  color: white;
  position: relative;
  left: 40px;
  top: -11px;
  font-family: Roboto;
  font-weight: bold;
}
