.logo {
  width: 130px;
  height: auto;
  position: absolute;
  top: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 200px;
}
.position-search-icon {
  position: relative;
  top: 94px;
  left: 10px;
}
.search-box {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  margin-top: 4em;
  padding-left: 50px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.text-description {
  color: white;
  font-family: Roboto;
  font-size: 24px;
  margin-top: -13px;
}
.movie-not-found {
  color: white;
  font-family: Roboto;
  font-size: 24px;
  margin-top: 13px;
}
.offer-description{
  color: #7A8C99;
  font-family: Roboto;
  font-size: 16px;
}
.movie-not-found {
  color: white;
  font-family: Roboto;
  font-size: 24px;
  margin-top: 150px;
}
